//orange
$lightning-yellow: #F5AB35;
$california: #F89406;
$cape-honey: #FDE3A7;
$burnt-orange: #D35400;

//gray
$lynch: #6C7A89;
$cascade: #95A5A6;
$sylver-sand: #BDC3C7;
$iron: #DADFE1;
$cararra: #F2F1EF;

//pink
$cabaret: #D2527F;